@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/static/Montserrat-Light.ttf");
}
@font-face {
  font-family: Lobster;
  src: url("../fonts/Lobster/Lobster-Regular.ttf");
}

h1 {
  font-family: Lobster;
}

p {
  font-family: Montserrat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

section {
  max-width: 50%;
  margin: 0 auto;
}

svg {
  height: 40px;
  width: 40px;
}
header {
  background-color: #d43c3c;
}